body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}
#envoriment {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
}
#cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 72pt;
  font-family: sans-serif;
  font-weight: bolder;
  position: absolute;
  color: white;
}
.side1 {
  background: rgba(255, 0, 0, 0.6);
  transform: translateZ(100px) rotateY(0deg);
}
.side2 {
  background: rgba(0, 0, 255, 0.6);
  transform: rotateY(90deg) translateZ(100px);
}
.side3 {
  background: rgba(0, 255, 0, 0.6);
  transform: rotateY(180deg) translateZ(100px);
}
.side4 {
  background: rgba(128, 0, 128, 0.6);
  transform: rotateY(-90deg) translateZ(100px);
}
.side5 {
  background: rgba(255, 255, 0, 0.6);
  transform: rotateX(-90deg) translateZ(100px);
}
.side6 {
  background: rgba(0, 128, 128, 0.6);
  transform: rotateX(90deg) translateZ(100px);
}

.control {
  bottom: 100px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
  margin: 50px;
  max-width: 400px;
}

.control span {
  margin: 10px;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.control span.active {
  color: blue;
  font-weight: bolder;
}

.show1 {
  transform: rotateY(0deg);
}

.show2 {
  transform: rotateY(-90deg);
}

.show3 {
  transform: rotateY(180deg);
}

.show4 {
  transform: rotateY(90deg);
}

.show5 {
  transform: rotateX(90deg);
}

.show6 {
  transform: rotateX(-90deg);
}
